export(Bagged.RDA)
export(Bagged.RDA.Feature.Selection)
export(FetchData)
export(GenerateSimulatedData)
export(Phylogeneticenrichments)
export(PlotBaggedRDA)
export(ReadParameters)
export(ScaleProfile)
export(WriteChipData)
export(WriteLog)
export(WriteMatrix)
export(add.heatmap)
export(calculate.rpa)
export(choose.projects)
export(choose.samples)
export(count)
export(deconvolution.nonneg)
export(detect.chip)
export(estimate.min.threshold)
export(fetch.projects)
export(fetch.sample.info)
export(fetch.samples)
export(get.doligo2)
export(get.phylogeny.info)
export(get.probedata)
export(include.fig)
export(include.figs)
export(list.mysql.projects)
export(mixingMatrix)
export(mysql.format)
export(n.phylotypes.per.oligo)
export(ngp)
export(oligo.bg.correction)
export(phylotype.rm.list)
export(preprocess.chipdata)
export(prune16S)
export(read.profiling.010)
export(run.profiling.script)
export(scaling.minmax)
export(summarize.oligos)
export(summarize.probesets)
export(summarize.probesets.directly)
export(summarize.probesets.species)
export(summarize.probesets.through.species)
export(summarize.rawdata)
export(threshold.data)
import(RMySQL)
import(svDialogs)
importFrom(RPA,d.update.fast)
importFrom(microbiome,read.profiling)
importFrom(vegan,procrustes)
importFrom(vegan,scores)
